<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{fragments/resources :: headTags}"></th:block>
    <title
      th:text="${edit} ? 'Modifica strategia' : 'Aggiungi nuova strategia'"
    >
      Nuova Strategia
    </title>
  </head>
  <body>
    <div th:replace="~{fragments/navbar :: NavBar}"></div>

    <form
      th:action="${edit} ? @{|/strategies/edit/${strategy.id}|} : @{/strategies/create}"
      th:object="${strategy}"
      method="post"
      class="container p-4 shadow-lg rounded bg-light mt-5"
    >
      <h2
        class="text-center mb-4"
        th:text="${edit} ? 'Modifica strategia' : 'Aggiungi nuova strategia'"
      >
        Aggiungi nuova strategia
      </h2>

      <div class="mb-3" th:if="${errors != null}">
        <div class="alert alert-danger">
          <strong>Ci sono errori nel form:</strong>
          <ul class="mb-0 ps-4">
            <li th:each="err : ${errors}" th:text="${err.defaultMessage}"></li>
          </ul>
        </div>
      </div>

      <!-- Nome -->
      <div class="mb-3">
        <label for="name" class="form-label">Nome strategia</label>
        <input
          type="text"
          class="form-control"
          id="name"
          th:field="*{name}"
          maxlength="100"
          required
        />
      </div>

      <!-- Descrizione -->
      <div class="mb-3">
        <label for="description" class="form-label">Descrizione</label>
        <textarea
          class="form-control"
          id="description"
          th:field="*{description}"
          rows="5"
          maxlength="1000"
          required
        ></textarea>
      </div>

      <!-- Pulsanti -->
      <div class="mb-3 d-flex justify-content-center gap-3">
        <a th:href="@{/strategies}" class="btn btn-dark">Torna indietro</a>
        <button type="submit" class="btn btn-success">
          <span
            th:text="${edit} ? 'Modifica strategia' : 'Crea strategia'"
          ></span>
        </button>
      </div>
    </form>

    <div th:replace="~{fragments/resources :: bodyScripts}"></div>
  </body>
</html>
